<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>나의 냉장고</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='loginForm.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">로그인</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='signupForm.html'"
                    th:onclick="|location.href='@{/signup}'|"
                    type="button">회원가입</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addPost.html'"
                    th:onclick="|location.href='@{/sectors/add}'|"
                    type="button">칸 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>이름</th>
                <th>이름 수정하기</th>
                <th>칸 삭제하기</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="sector : ${sectors}">
                <td><a th:href="@{|/foods/${sector.sectorId}|}" th:text="${sector.name}">이름</a></td>
                <td><a th:href="@{|/sectors/edit/${sector.sectorId}|}"}>수정</a></td>
                <td><a th:href="@{|/sectors/delete/${sector.sectorId}|}"}>삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>