<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>나의 냉장고</h2>
    </div>

    <div>
        <form th:object="${foodSearchCond}" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" th:field="*{foodName}" class="form-control" placeholder="음식명"/>
            </div>
            <div class="form-group mb-2">
                <select th:field="*{status}" class="form-control">
                    <option value="">전체보기</option>
                    <option th:each="status : ${T(com.toy.refrigerator.food.entity.Food.FoodStatus).values()}"
                            th:value="${status}"
                            th:text="${status.description}">option
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/sectors}'|"
                    type="button">뒤로가기</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/foods/add/{sectorId}(sectorId=${sectorId})}'|"
                    type="button">항목 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>분류</th>
                <th>이름</th>
                <th>설명</th>
                <th>상태</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="food : ${foods.getData()}">
                <td><a th:text="${food.category.description}">분류</a></td>
                <td><a th:href="@{|/foods/sector/${food.foodId}|}" th:text="${food.name}">이름</a></td>
                <td><a th:text="${food.description}">설명</a></td>
                <td><a th:text="${food.status.description}">상태</a></td>
                <td th:text="${#temporals.format(food.expiration, 'YYYY년 MM월 dd일')}">등록일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>